---
import TestimonialCards from "./TestimonialCards.astro";
---

<!-- Testimonials Section -->
<section id="testimonials" class="mb-12 md:mb-24 p-8 bg-primary rounded-xl">
    <!-- Header Content -->
    <div class="flex flex-col lg:items-center justify-between mb-8 lg:flex-row">
        <!-- Title -->
        <div class="text-center md:text-left space-y-xs">
            <span class="block text-sm font-semibold tracking-widest text-accent">
                REVIEWS
            </span>
            <h2 class="text-4xl font-medium leading-none tracking-tight text-secondary">
                What Our Happy Clients Say
            </h2>
        </div>
        <!-- End Title -->

        <!-- Subtitle -->
        <p class="text-center text-gray-700 md:text-left max-w-lg mt-sm md:mt-0">
            Discover how our services have made a difference for our valued clients. Here are their thoughts and experiences.
        </p>
        <!-- End Subtitle -->
    </div>

    <!-- Testimonial Cards -->
    <ul class="flex flex-col gap-6 md:flex-row">
        <TestimonialCards
            review="The atmosphere is calming, and the personalized service made every visit special. Highly recommend!"
            image="https://img.freepik.com/free-photo/confident-asian-woman-face-portrait-smiling_53876-144815.jpg"
            name="Emily Davis"
        />
        <TestimonialCards
            review="Each session left me rejuvenated. The staff truly cares about client experience. I wouldn't go anywhere else."
            image="https://img.freepik.com/free-photo/front-close-view-young-female-dark-jacket-smiling-pink-background_179666-30965.jpg"
            name="Anne Brown"
        />
    </ul>
</section>
