---
const { review, image, name, position} = Astro.props;
---
<li class="p-8 border-2 shadow-sm rounded-2xl bg-white">
    <img class="mb-xs" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/quote-left-green.svg" decoding="async" alt="quote icon" width="24" height="24">
    <div class="ml-2xl">
        <p class="text-lg font-medium leading-tight mb-md">
            {review}
        </p>
        <div class="flex items-center gap-4">
            <picture class="picture">
                <img class="rounded-full" src={image} decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
            </picture>
            <div class="flex flex-col">
                <p class="font-medium">{name}</p>
                <p class="text-gray-700">{position}</p>
            </div>
        </div>
    </div>
</li>