<!-- Contact Section -->
<section id="contact" class="mb-12 md:mb-24" data-aos="fade" data-aos-duration="1000">
    <div class="max-w-2xl mx-auto mb-6 text-center sm:mb-12">
      <span class="block text-sm font-semibold tracking-widest text-accent mb-xs">INQUIRE NOW</span>
      <h2 class="text-4xl font-semibold leading-none tracking-tight text-secondary">Contact Us</h2>
    </div>
  
    <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-12 items-center">
      <!-- Google Map -->
      <div class="overflow-hidden aspect-w-16 aspect-h-9 rounded-2xl mb-8 lg:mb-0">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d123461.05107718897!2d120.98316317596795!3d14.760135589317048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b719da890c3f%3A0xc1ba3bd70b49441b!2sSerenity%20Spa!5e0!3m2!1sen!2sph!4v1726568137800!5m2!1sen!2sph" 
          width="600" 
          height="450" 
          style="border:0;" 
          allowfullscreen 
          loading="lazy" 
          title="Location of Serenity Spa" 
          referrerpolicy="no-referrer-when-downgrade" 
          class="object-cover w-full transition-transform duration-500 ease-in-out group-hover:scale-105 group-focus:scale-105 rounded-2xl">
        </iframe>
      </div>
  
      <!-- Contact Information -->
      <div class="space-y-12">
        <div>
          <h3 class="mb-5 text-lg font-semibold text-secondary">Our Address</h3>
          <div class="flex gap-4 items-center">
            <svg class="text-gray-500 shrink-0 w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
              <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path>
              <circle cx="12" cy="10" r="3"></circle>
            </svg>
            <div>
              <p class="text-base font-medium">Philippines</p>
              <address class="mt-1 not-italic text-gray-700">Visayas Ave, Quezon City, Metro Manila</address>
            </div>
          </div>
        </div>
  
        <div>
          <h3 class="mb-5 text-lg font-semibold text-secondary">Our Contacts</h3>
          <div class="space-y-6">
            <div class="flex gap-4 items-center">
              <svg class="text-gray-500 shrink-0 w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                <path d="M21.2 8.4c.5.38.8.97.8 1.6v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V10a2 2 0 0 1 .8-1.6l8-6a2 2 0 0 1 2.4 0l8 6Z"></path>
                <path d="m22 10-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 10"></path>
              </svg>
              <div>
                <p class="text-base font-medium">Email Us</p>
                <a class="relative inline-block font-medium text-gray-700 before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-primary" href="mailto:serenityspa@gmail.com">serenityspa@gmail.com</a>
              </div>
            </div>
  
            <div class="flex gap-4 items-center">
              <svg class="text-gray-500 shrink-0 w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
              </svg>
              <div>
                <p class="text-base font-medium">Call Us</p>
                <p>
                  <a class="relative inline-block font-medium text-gray-700 before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-primary" href="tel:09123456789">+63 9123456789</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
  