---
import FeatureCard from "../components/FeatureCard.astro";

const FeatureCardItems = [
    {
        path: "m344-60-76-128-144-32 14-148-98-112 98-112-14-148 144-32 76-128 136 58 136-58 76 128 144 32-14 148 98 112-98 112 14 148-144 32-76 128-136-58-136 58Zm34-102 102-44 104 44 56-96 110-26-10-112 74-84-74-86 10-112-110-24-58-96-102 44-104-44-56 96-110 24 10 112-74 86 74 84-10 114 110 24 58 96Zm102-318Zm-42 142 226-226-56-58-170 170-86-84-56 56 142 142Z",
        title: "5 Years",
        description: "Award-Winning Excellence",
    },
    {
        path: "M620-520q25 0 42.5-17.5T680-580q0-25-17.5-42.5T620-640q-25 0-42.5 17.5T560-580q0 25 17.5 42.5T620-520Zm-280 0q25 0 42.5-17.5T400-580q0-25-17.5-42.5T340-640q-25 0-42.5 17.5T280-580q0 25 17.5 42.5T340-520Zm140 260q68 0 123.5-38.5T684-400h-66q-22 37-58.5 58.5T480-320q-43 0-79.5-21.5T342-400h-66q25 63 80.5 101.5T480-260Zm0 180q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Z",
        title: "98%",
        description: "Customer Satisfaction Rate",
    },
    {
        path: "M480-80q-73-9-145-39.5T206.5-207Q150-264 115-351T80-560v-40h40q51 0 105 13t101 39q12-86 54.5-176.5T480-880q57 65 99.5 155.5T634-548q47-26 101-39t105-13h40v40q0 122-35 209t-91.5 144q-56.5 57-128 87.5T480-80Zm-2-82q-11-166-98.5-251T162-518q11 171 101.5 255T478-162Zm2-254q15-22 36.5-45.5T558-502q-2-57-22.5-119T480-742q-35 59-55.5 121T402-502q20 17 42 40.5t36 45.5Zm78 236q37-12 77-35t74.5-62.5q34.5-39.5 59-98.5T798-518q-94 14-165 62.5T524-332q12 32 20.5 70t13.5 82Zm-78-236Zm78 236Zm-80 18Zm46-170ZM480-80Z",
        title: "30+",
        description: "Luxury Spa Services Offered",
    },
];
---

<!-- Features Section -->
<section id="features" class="bg-primary rounded-xl p-8 md:px-8 md:py-16 mb-12 md:mb-24">
  <div class="flex flex-col items-center ">
    <!-- Header -->
    <div class="sm:text-center mb-8">
      <span class="block text-xs font-semibold tracking-widest text-accent mb-2">FEATURES</span>
      <h2 class="text-4xl text-secondary leading-none tracking-tight mb-2 md:mb-4">Why Choose Serenity Spa?</h2>
      <p class="text-base sm:text-lg text-contrast max-w-xl">
        At Serenity Spa, we prioritize your well-being with exceptional spa treatments and unparalleled customer service.
      </p>
    </div>
    <!-- Header End -->

    <!-- Card List -->
    <ul class="flex flex-col gap-4 sm:flex-row sm:justify-center w-full">
      {FeatureCardItems.map((item) => (
        <FeatureCard {...item} />
      ))}
    </ul>
    <!-- Card List End -->
  </div>
</section>
