---

---
<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery" class="py-6 lg:py-12">
    <div class="flex flex-col relative">
            <span class="block text-lg font-semibold text-accent mb-xs">Gallery</span>
            <h2 class="mb-12 text-2xl font-medium text-gray-800 lg:text-4xl leading-none tracking-tight">Our Photo Gallery</h2>
        <!--Gallery-->
        <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            <!-- Picture 1 -->
            <picture class="relative block overflow-hidden rounded-lg min-h-[16.25rem] max-h-[20rem]">
                <source media="(max-width: 600px)" srcset="./images/massage-service.jpg">
                <source media="(min-width: 601px)" srcset="./images/massage-service.jpg">
                <img loading="lazy" decoding="async" src="./images/massage-service.jpg" alt="gallery" class="absolute top-0 left-0 w-full h-full object-cover">
            </picture>
            <!-- Picture 2 -->
            <picture class="relative block overflow-hidden rounded-lg min-h-[16.25rem] max-h-[20rem]">
                <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1519415387722-a1c3bbef716c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHNwYSUyMG1hc3NhZ2V8ZW58MHx8MHx8fDI%3D">
                <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1519415387722-a1c3bbef716c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHNwYSUyMG1hc3NhZ2V8ZW58MHx8MHx8fDI%3D">
                <img loading="lazy" decoding="async" src="https://images.unsplash.com/photo-1519415387722-a1c3bbef716c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHNwYSUyMG1hc3NhZ2V8ZW58MHx8MHx8fDI%3D" alt="gallery" class="absolute top-0 left-0 w-full h-full object-cover">
            </picture>
            <!-- Picture 3 -->
            <picture class="relative block overflow-hidden rounded-lg min-h-[16.25rem] max-h-[20rem]">
                <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1570172619644-dfd03ed5d881?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHNwYSUyMHRyZWF0bWVudHxlbnwwfHwwfHx8Mg%3D%3D">
                <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1570172619644-dfd03ed5d881?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHNwYSUyMHRyZWF0bWVudHxlbnwwfHwwfHx8Mg%3D%3D">
                <img loading="lazy" decoding="async" src="https://images.unsplash.com/photo-1570172619644-dfd03ed5d881?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHNwYSUyMHRyZWF0bWVudHxlbnwwfHwwfHx8Mg%3D%3D" alt="gallery" class="absolute top-0 left-0 w-full h-full object-cover">
            </picture>
            <!-- Picture 4 -->
            <picture class="relative block overflow-hidden rounded-lg min-h-[16.25rem] max-h-[20rem]">
                <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1519415510236-718bdfcd89c8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8c3BhJTIwdHJlYXRtZW50fGVufDB8fDB8fHwy">
                <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1519415510236-718bdfcd89c8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8c3BhJTIwdHJlYXRtZW50fGVufDB8fDB8fHwy">
                <img loading="lazy" decoding="async" src="https://images.unsplash.com/photo-1519415510236-718bdfcd89c8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8c3BhJTIwdHJlYXRtZW50fGVufDB8fDB8fHwy" alt="gallery" class="absolute top-0 left-0 w-full h-full object-cover">
            </picture>
            <!-- Picture 5 -->
            <picture class="relative block overflow-hidden rounded-lg min-h-[16.25rem] max-h-[20rem]">
                <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1552693673-1bf958298935?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1552693673-1bf958298935?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <img loading="lazy" decoding="async" src="https://images.unsplash.com/photo-1552693673-1bf958298935?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="gallery" class="absolute top-0 left-0 w-full h-full object-cover">
            </picture>
            <!-- Picture 6 -->
            <picture class="relative block overflow-hidden rounded-lg min-h-[16.25rem] max-h-[20rem]">
                <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1589710751893-f9a6770ad71b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8Mjc3NTI1MDh8fGVufDB8fHx8fA%3D%3D">
                <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1589710751893-f9a6770ad71b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8Mjc3NTI1MDh8fGVufDB8fHx8fA%3D%3D">
                <img loading="lazy" decoding="async" src="https://images.unsplash.com/photo-1589710751893-f9a6770ad71b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8Mjc3NTI1MDh8fGVufDB8fHx8fA%3D%3D" alt="gallery" class="absolute top-0 left-0 w-full h-full object-cover">
            </picture>
            <!-- Picture 7 -->
            <picture class="relative block overflow-hidden rounded-lg min-h-[16.25rem] max-h-[20rem]">
                <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1542848284-8afa78a08ccb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bWFzc2FnZSUyMHRoZXJhcHl8ZW58MHx8MHx8fDA%3D">
                <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1542848284-8afa78a08ccb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bWFzc2FnZSUyMHRoZXJhcHl8ZW58MHx8MHx8fDA%3D">
                <img loading="lazy" decoding="async" src="https://images.unsplash.com/photo-1542848284-8afa78a08ccb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bWFzc2FnZSUyMHRoZXJhcHl8ZW58MHx8MHx8fDA%3D" alt="gallery" class="absolute top-0 left-0 w-full h-full object-cover">
            </picture>
            <!-- Picture 8 -->
            <picture class="relative block overflow-hidden rounded-lg min-h-[16.25rem] max-h-[20rem]">
                <source media="(max-width: 600px)" srcset="./images/hero-img.jpg">
                <source media="(min-width: 601px)" srcset="./images/hero-img.jpg">
                <img loading="lazy" decoding="async" src="./images/hero-img.jpg" alt="gallery" class="absolute top-0 left-0 w-full h-full object-cover">
            </picture>
        </div>
    </div>
</section>
