---

---

<!-- Hero -->
<section
  id="#"
  class="relative md:space-y-8 mb-lg"
>
  <div class="max-w-5xl py-8 mx-auto space-y-4 text-center">
    <h1 class="mx-auto text-5xl font-bold leading-none tracking-tight text-balance text-accent">
      Premium Massage, Facial, Waxing, and Spa Services at Serenity Spa
    </h1>
    <p class="mx-auto text-base leading-normal text-secondary text-pretty">
      Serenity Spa provides expert spa services that rejuvenate your body, soothe your mind, and
      promote overall well-being.
    </p>
  </div>

  <div class="relative">
    <div>
      <img
        src="./images/hero-img.jpg"
        width="1200"
        height="480"
        alt="Woman waxing a client's underarm"
        title="Woman waxing a client's underarm"
        class="w-full h-96 sm:h-[480px] object-cover rounded-xl"
      />
    </div>
  </div>
</section>
<!-- End Hero -->
