---
import { Image } from "astro:assets";

import Waxing from "../images/5.jpg";
import Facial from "../images/facial-service.jpg";
import Massage from "../images/massage-service.jpg";
---

<section id="services" class="rounded-xl space-y-8 mb-12 md:mb-24">
  <!-- Header -->
  <div class="mb-lg lg:flex items-center justify-between ">
    <header class="space-y-2 mb-2 md:mb-4">
      <span class="block text-xs font-semibold tracking-widest text-accent">SERVICES</span>
      <h2 class="text-4xl leading-none tracking-tight text-secondary">
        Spa Treatments We Offer
      </h2>
    </header>
    <p class="text-sm sm:text-base text-contrast max-w-lg md:max-w-xl">
      Escape the hustle and unwind in a space designed for ultimate relaxation. At Serenity Spa, we
      offer a range of services to rejuvenate your mind, body, and spirit.
    </p>
  </div>
  <!-- Header End -->

  <!-- Services -->
  <div class="grid gap-lg sm:grid-cols-3">
    <!-- Massage Service -->
    <div class="relative flex items-end  overflow-hidden rounded-lg shadow-md group aspect-square">
      <Image
        src={Massage}
        loading="lazy"
        alt="Woman being massaged"
        title="Woman being massaged"
        class="absolute inset-0 object-cover object-center size-full transition-transform duration-200 group-hover:scale-110"
      />
      <div class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent"></div>
      <div class="relative p-4 space-y-2">
        <h3 class="text-body font-semibold text-white">Massages</h3>
        <p class="text-base text-white">
          From Swedish to Deep Tissue, our massages are tailored to provide relief and relaxation.
        </p>
      </div>
    </div>

    <!-- Facial Service -->
    <div class="relative flex items-end  overflow-hidden rounded-lg shadow-md group aspect-square">
      <Image
        src={Facial}
        alt="Woman receiving a facial treatment"
        title="Woman receiving a facial treatment"
        class="absolute inset-0 object-cover object-center w-full h-full transition-transform duration-200 group-hover:scale-110"
      />
      <div class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent"></div>
      <div class="relative p-4 space-y-2">
        <h3 class="text-lg font-semibold text-white">Facials</h3>
        <p class="text-base text-white">
          Revitalize your skin with our personalized facial treatments designed for all skin types.
        </p>
      </div>
    </div>

    <!-- Waxing Service -->
    <div class="relative flex items-end  overflow-hidden rounded-lg shadow-md group aspect-square">
      <Image
        src={Waxing}
        alt="Group of women doing wax treatment for client's underarm"
        title="Group of women doing wax treatment for client's underarm"
        class="absolute inset-0 object-cover object-center w-full h-full transition-transform duration-200 group-hover:scale-110"
      />
      <div class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent"></div>
      <div class="relative p-4 space-y-2">
        <h3 class="text-lg font-semibold text-white">Waxing</h3>
        <p class="text-base text-white">
          Enjoy smooth, hair-free skin with our gentle and effective waxing treatments.
        </p>
      </div>
    </div>
  </div>
  <!-- Services End -->
</section>

