---
import Button from "../components/Button.astro";


---
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<!-- <section id="side-by-side-1" class="mb-3xl">
    <h1 class="text-4xl font-semibold tracking-tight text-center text-secondary mb-lg">Services We Offer</h1>
    
    <div class="flex flex-col-reverse items-center gap-8 md:flex-row md:gap-24 mb-3xl">
      <picture class="relative w-full md:w-1/2">
        <source media="(max-width: 600px)" srcset="./images/massage-service.jpg">
        <source media="(min-width: 601px)" srcset="./images/massage-service.jpg">
        <img loading="lazy" decoding="async" src="./images/massage-service.jpg" alt="room" class="w-full object-cover h-[300px] md:h-[500px] rounded-lg">
      </picture>
      <div class="md:w-1/2">
        <h2 class="text-3xl font-medium leading-none tracking-tight mb-xs">Massages</h2>
        <p class="text-lg text-gray-700 mb-lg max-w-[40ch]">From Swedish to Deep Tissue, our massages are tailored to provide relief and relaxation</p>
        <Button text="Book Now" />
      </div>
    </div>

    <div class="flex flex-col items-center gap-8 md:flex-row md:gap-24 mb-3xl">
        <picture class="relative w-full md:w-1/2">
          <source media="(max-width: 600px)" srcset="./images/facial-service.jpg">
          <source media="(min-width: 601px)" srcset="./images/facial-service.jpg">
          <img loading="lazy" decoding="async" src="./images/facial-service.jpg" alt="room" class="w-full object-cover h-[300px] md:h-[500px] rounded-lg">
        </picture>
        <div class="order-first md:w-1/2">
          <h2 class="text-3xl font-medium leading-none tracking-tight mb-xs">Facial Treatments</h2>
          <p class="text-lg text-gray-700 mb-lg max-w-[40ch]">Revitalize your skin with our personalized facial treatments designed for all skin types</p>
          <Button text="Book Now" />
        </div>
    </div>

    <div class="flex flex-col-reverse items-center gap-8 md:flex-row md:gap-24">
        <picture class="relative w-full md:w-1/2">
          <source media="(max-width: 600px)" srcset="./images/hero-img.jpg">
          <source media="(min-width: 601px)" srcset="./images/hero-img.jpg">
          <img loading="lazy" decoding="async" src="./images/hero-img.jpg" alt="room" class="w-full object-cover h-[300px] md:h-[500px] rounded-lg">
        </picture>
        <div class="md:w-1/2">
          <h2 class="text-3xl font-medium leading-none tracking-tight mb-xs">Waxing Treatments</h2>
          <p class="text-lg text-gray-700 mb-lg max-w-[40ch]">Enjoy smooth, hair-free skin with our gentle and effective waxing treatments.</p>
          <Button text="Book Now" />
        </div>
    </div>
  </section> -->

  <section id="services" class="py-6 sm:py-8 lg:py-12">
      <!-- text - start -->
      <div class="mb-10 md:mb-16">
        <span class="block text-lg text-center font-semibold text-accent mb-xs">Services</span>
        <h2 class="mb-4 text-center text-2xl font-medium text-gray-800 lg:text-4xl leading-none tracking-tight">Spa Treatments We Offer</h2>
  
        <p class="mx-auto max-w-screen-md text-center text-gray-700 md:text-lg">This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated.</p>
      </div>
      <!-- text - end -->
  
      <div class="grid gap-6 sm:grid-cols-3">
        <!-- product - start -->
        <didiv class="group relative flex h-80 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
          <img src="./images/massage-service.jpg" loading="lazy" alt="Woman being massaged" title="Woman being massaged" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
          <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"></div>
  
          <div class="relative flex flex-col">
            <span class="text-lg lg:text-xl text-white font-semibold">Massages</span>
            <span class="text-gray-300">From Swedish to Deep Tissue, our massages are tailored to provide relief and relaxation</span>
          </div>
        </didiv>
        <!-- product - end -->
  
        <!-- product - start -->
        <div class="group relative flex h-80 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
          <img src="./images/facial-service.jpg" loading="lazy" alt="Woman receiving a facial treatment" title="Woman receiving a facial treatment" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
          <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"></div>
  
          <div class="relative flex flex-col">
            <span class="text-lg lg:text-xl text-white font-semibold">Facials</span>
            <span class="text-gray-300">Revitalize your skin with our personalized facial treatments designed for all skin types</span>
          </div>
        </div>
        <!-- product - end -->

        <!-- product - start -->
        <div class="group relative flex h-80 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
          <img src="./images/hero-img.jpg" loading="lazy" alt="Group of woman doing wax treatment for client underarm" title="Group of woman doing wax treatment for client underarm" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
          <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"></div>
  
          <div class="relative flex flex-col">
            <span class="text-lg lg:text-xl text-white font-semibold">Waxing</span>
            <span class="text-gray-300">Enjoy smooth, hair-free skin with our gentle and effective waxing treatments.</span>
          </div>
        </div>
        <!-- product - end -->
    </div>
  </section>
